{% set fqdn = hostname + '.' + domain_name %}
{% set serial = '2022061503' %}

$ORIGIN {{ reversed_subnet }}.in-addr.arpa.   ; Zone starting point in the name-space tree
                     ; (if skipped - the origin is inferred by the DNS server based on
                     ; zone declaration in name.conf.local file

$TTL    15M
@       IN      SOA     ns1.{{ fqdn }}. root.{{ fqdn }}. (
                     {{serial}}         ; Serial
                            15M         ; Refresh
                             5M         ; Retry
                           120M         ; Expire
                            600 )       ; Negative Cache TTL
@              IN      NS      ns1.{{ fqdn }}.
{{ host }}     IN      PTR     {{ fqdn }}. ; {{ ip }} has name {{ fqdn }}
