{% set fqdn = hostname + '.' + domain_name %}
{% set serial = '2022061503' %}
;
; BIND data file for local zone {{ fqdn }};
$TTL    15M
@       IN      SOA     ns1.{{ fqdn }}. root.{{ fqdn }}. (
                     {{serial}}         ; Serial
                            15M         ; Refresh
                             5M         ; Retry
                           120M         ; Expire
                            600 )       ; Negative Cache TTL
@              IN      NS      ns1
@              IN      A       {{ ip }}
ns1            IN      A       {{ ip }}
{{ hostname }} IN      A       {{ ip }}
www            IN      CNAME   @
proxy          IN      CNAME   @
wordpress      IN      CNAME   @
mail           IN      A       {{ ip }}
@              IN      MX 10   mail.{{ fqdn }}.
