<!-- www.c20301.sa.cs.ut.ee -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>Jakub Arbet @ UT</title>
</head>
<body style="text-align: center; padding-top: 10rem;">
  <img src="me.jpg" alt="Photo of me" width=256 style="max-width: 95%;">
  <h1>Jakub Arbet</h1>
  <a href="mailto:arbet@ut.ee">arbet@ut.ee</a>
  &middot;
  <a href="pubkey.txt">Public GPG key</a>
  &middot;
  <a href="http://wordpress.{{ hostname }}.{{ domain_name }}">WordPress blog</a>
  &middot;
  <a href="http://proxy.{{ hostname }}.{{ domain_name }}">Apache proxy demo</a>
  &middot;
  <a href="https://github.com/kubqoa/learning-ansible">Ansible repo</a>
</body>
</html>
