{% set virtual_host = 'www.' + hostname %}
{% set fqdn = virtual_host + '.' + domain_name %}

<VirtualHost *:80>
    ServerName {{ fqdn }}
    DocumentRoot /var/www/html/{{ virtual_host }}/public_html
    # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
    LogLevel warn

    ErrorLog /var/log/httpd/{{ virtual_host }}-error.log
    CustomLog /var/log/httpd/{{ virtual_host }}-access.log combined
    ForensicLog /var/log/httpd/{{ virtual_host }}-forensic.log
</VirtualHost>
